/* "general styles" */
* {
  font-family: Helvetica;
}
/* "header" */
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  text-align: center;
}
.btn-header-nav {
  font-size: 18px;
  color: white;
}
/* "content" */
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.divider {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
}
section {
  text-align: center;
}
/* "footer" */
footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}
footer p {
  font-size: 11px;
}
footer p .btn-header-nav {
  font-size: 14px;
}
